<%- include("./partial/header")  %>
    <%- include("./partial/navbar")  %>



        <form action="/mail" method="post">
            <button class="btn btn-lg success" type="submit">Sign Up with google</button>
        </form>




        <%- include("./partial/footer")  %>