<%- include("./partial/header")  %>

    <%- include("./partial/navbar")  %>




        <h1>Review Page Will be shown here!</h1>

        <div>
            <p>User name</p>
            <p>ratings</p>
            <p>Review</p>
        </div>




        <%- include("./partial/footer")  %>